@import "./mixins/flexBox.scss";
@import "App.scss";
@import "./table.scss";
@import "./modal.scss";
@import "./pagination.scss";
@import "./reset.scss";
@import "./Input.scss";

body {
  position: relative;
  background-color: #f4f8fd;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  @include flexBox(row, center, flex-start, 1rem);
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 100vh;
}

p {
  font-size: 1rem;
}

@import "./media.scss";
