@import "./mixins/flexBox.scss";
.input--wraper {
  @include flexBox(row, space-evenly, stretch, 1rem);
  input {
    width: 7rem;
    color: rgb(49, 49, 49);
  }
  button {
    font-size: 0.8rem;
    font-weight: 700;
    color: #377bc9;
  }
  .button--submit {
    @extend button;
    color: #f4f8fd;
    opacity: 0.85;
  }
}
