@import "./mixins/flexBox.scss";
.input--wraper {
  @include flexBox(row, space-evenly, stretch, 1rem);
  input {
    width: 12rem;
    color: rgb(49, 49, 49);
  }
  button {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(44, 44, 44);
  }
}
