@media screen and (min-width: 590px) {
  .input--wraper {
    input {
      width: 12rem;
    }
  }
}

@media screen and (min-width: 980px) {
  * {
    font-size: 125%;
  }
}
@media screen and (min-width: 1280px) {
  * {
    font-size: 156.25%;
  }
  .input--wraper {
    input {
      font-size: 1.4rem;
      padding: 0.3rem 0.6rem;
      color: rgb(69, 69, 69);
    }
    button {
      font-size: 1.2rem;
    }
  }
}
@media screen and (min-width: 1600px) {
  * {
    font-size: 187.5%;
  }
}
