@media screen and (min-width: 600px) {
  * {
    font-size: 100%;
  }
}
@media screen and (min-width: 980px) {
  * {
    font-size: 125%;
  }
}
@media screen and (min-width: 1280px) {
  * {
    font-size: 156.25%;
  }
}
@media screen and (min-width: 1600px) {
  * {
    font-size: 187.5%;
  }
}
