@import "./mixins/flexBox.scss";

.table--wraper {
  @include flexBox(row, center, flex-start, 1rem);
  min-height: 20rem;
  min-width: 55vw;
  width: 80vw;
  margin-bottom: 2rem;

  .table--body .table--item {
    filter: brightness(100%);
    transition: all 0.2s;
  }

  .table--body:hover .table--item {
    transition: all 0.2s;
    filter: brightness(40%);
  }
  .table--body .table--item:hover {
    transition: all 0.2s;
    filter: brightness(100%);
  }
}
